/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import '~font-awesome/scss/font-awesome.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import "components";

body{
    padding: 1rem;
}

.heart{
    color: red
}

.container {
    max-width: 700px;
}

.icon-link{
    font-size: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}


@media only screen and (min-width: 700px) {

    .btn-group-responsive > .btn {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 450px) {

    .btn-group-responsive > .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
    }
}