
.event-list{

    .film-end-timespan, .film-timespan, .trailers-timespan{
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    $boundaryOne: 35%;
    $boundaryTwo: 50%;
    $boundaryThree: 85%;

    .film-end-timespan {
        background-image: linear-gradient(45deg, 
            $primary $boundaryOne, 
            transparent $boundaryOne, 
            transparent $boundaryTwo, 
            $primary $boundaryTwo, 
            $primary $boundaryThree, 
            transparent $boundaryThree, 
            #fff);
        background-size: 15px 15px;
    }

    .film-timespan{
        background-color: $primary;
    }

    .trailers-timespan{
        background-color: rgba($primary, 0.5);
    }
    
    .event-button{
        color: $body-color;
        background-color: rgba($primary, 0.25);
        text-align: left;
    }

    .event-button:hover{
        color: $white;
        background-color: rgba($primary, 0.75);
    }

    .event-button.active{
        color: $white;
        background-color: rgba($primary, 0.75);
    }

}
