
.event-list{

    .film-end-timespan, .film-timespan, .trailers-timespan{
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    $boundaryOne: 40%;
    $boundaryTwo: 50%;
    $boundaryThree: 90%;

    @each $color in primary, secondary, success, danger, warning, info {
        .event-button-#{$color} {
            --event-color: var(--bs-#{$color}-rgb);
        }
    }

    [class*='event-button-'] {
        color: var(--bs-body-color);
        background-color: rgb(var(--event-color) / 25%);
        text-align: left;

        .film-end-timespan, .trailers-timespan {
            background-image: linear-gradient(45deg,
                rgb(var(--event-color)) $boundaryOne,
                transparent $boundaryOne,
                transparent $boundaryTwo,
                rgb(var(--event-color)) $boundaryTwo,
                rgb(var(--event-color)) $boundaryThree,
                transparent $boundaryThree,
                #fff);
            background-size: 10px 10px;
        }

        .film-timespan{
            background-color: rgb(var(--event-color));
        }

        &:hover{
            color: #fff;
            background-color: rgb(var(--event-color) / 75%);
        }

        &.active{
            color: #fff;
            background-color: rgb(var(--event-color) / 75%);
        }

    }

}
