
.event-list{

    .film-end-timespan, .film-timespan, .trailers-timespan{
        top: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 0;
    }

    $boundaryOne: 40%;
    $boundaryTwo: 50%;
    $boundaryThree: 90%;

    @each $color in primary, secondary, success, danger, warning, info {
        .event-button-#{$color} {
            --event-color: var(--bs-#{$color}-rgb);
        }
    }

    [class*='event-button-'] {
        color: var(--bs-body-color);
        background-color: rgba(var(--event-color), 0.25);
        isolation: isolate;
        text-align: left;

        > .d-inline {
            position: relative;
            z-index: 1;
        }

        .film-end-timespan, .trailers-timespan {
            background-image: linear-gradient(45deg,
                rgba(var(--event-color), 1) $boundaryOne,
                transparent $boundaryOne,
                transparent $boundaryTwo,
                rgba(var(--event-color), 1) $boundaryTwo,
                rgba(var(--event-color), 1) $boundaryThree,
                transparent $boundaryThree,
                #fff);
            background-size: 10px 10px;
        }

        .film-timespan{
            background-color: rgba(var(--event-color), 1);
        }

        &:hover{
            color: #fff;
            background-color: rgba(var(--event-color), 0.75);
        }

        &.active{
            color: #fff;
            background-color: rgba(var(--event-color), 0.75);
        }

    }

}
