<div class="cinema container">
    
    <cinema-header [cinema]="cinema"></cinema-header>

    <div *ngIf="errorMessage != null" class="alert alert-danger" role="alert">{{errorMessage}}</div>

    <date-selector (selectedDate)="selectDate($event)"></date-selector>

    <div class="mt-2">
        <h3>Films:</h3>

        <attribute-selector
        [events]="events"
        [selectedFilms]="filmList"
        [showTrailer]="false"
        (filters)="onAttributeFiltersChanged($event)"
        ></attribute-selector>

        <div 
            *ngIf="filteredFilmList != null && filteredFilmList.length > 0"
            class="film-container pt-2"
            >
    
            <div *ngFor="let film of filteredFilmList" class="mb-2 d-flex align-items-center" >

                    <button 
                        type="button"
                        class="btn btn-primary btn-block mr-2"
                        (click)="toggleFilm(film)"
                        [ngClass]="{'active': isFilmSelected(film)}"
                        >
                        {{film.name}}
                    </button>

                    <div class="mr-2">
                        <a 
                            class="icon-link"
                            *ngIf="film.videoLink != null && film.videoLink != ''" 
                            href="{{film.videoLink}}" 
                            target="_blank">
                            <i 
                                class="fa fa-youtube-play fa-youtube-play-enabled"
                                aria-hidden="true"
                                ></i>
                        </a>
                        <i 
                            *ngIf="film.videoLink == null || film.videoLink == ''" 
                            class="fa fa-youtube-play fa-youtube-play-disabled"
                            aria-hidden="true"
                            ></i>
                    </div>

                    <div class="icon-link">
                        <a href="{{film.link}}" target="_blank">
                            <i 
                                class="fa fa-film" 
                                aria-hidden="true"
                                ></i>
                        </a>
                    </div>
            </div>
    
        </div>
    
        <div *ngIf="filmList != null && filmList.length === 0">No Listings</div>
    
        <div 
            *ngIf="filmList == null" 
            class="d-flex align-items-center pt-2">
                <span class="spinner-border text-primary mr-2"></span>
                <span>Loading...</span>
        </div>
    </div>

    <event-list
        [events]="events"
        [selectedFilms]="selectedFilms"
        ></event-list>

</div>