<h2>{{cinema?.name}}</h2>

<date-selector (selectedDate)="selectDate($event)"></date-selector>

<div 
    *ngIf="filmList != null && filmList.length > 0"
    class="film-container pt-2"
    >

    <div 
        class="film"
        *ngFor="let film of filmList" 
        >{{film.name}}</div>

</div>

<div *ngIf="filmList != null && filmList.length === 0">No Listings</div>

<div 
    *ngIf="filmList == null" 
    class="d-flex align-items-center pt-2">
        <span class="spinner-border text-primary mr-2"></span>
        <span>Loading...</span>
</div>

