
.cinema{

    .btn-primary:hover{
        background-color: $primary;
        border-color: $primary;
    }
    
    .fa-youtube-play-enabled{
        color: red;
    }
    
    .fa-youtube-play-disabled{
        font-size: 2rem;
        color: $secondary;
    }
    
    .fa-film{
        color: black;
    }

}


