
.cinema{

    .btn-primary:hover{
        background-color: $primary;
        border-color: $primary;
    }
    
    .fa-youtube-play{
        color: red;
    }
    
    .fa-film{
        color: black;
    }

    .icon-link{
        font-size: 2rem;
    }
}


