
<div class="d-flex">

  <div class="flex-grow-1 d-flex">
    @if (allAttributes.length > 0) {
      <div class="mb-2">
        @for (attribute of allAttributes; track attribute) {
          <div
            class="me-2"
                [ngClass]="{
                    'd-inline': !expand, 
                    'mb-2': expand,
                    'expanded-attribute': expand,
                    'd-flex': expand
                }"
            >
            @if (expand) {
              <div
                class="d-inline flex-grow-1"
              >{{getDescription(attribute)}}</div>
            }
            <button
              class="btn btn-sm btn-secondary mb-2"
              (click)="toggleFilter(attribute)"
              >
              <span class="me-1">{{getIcon(attribute)}}</span>
              <i
                class="fa"
                [ngClass]="attributeFilterClass(attribute)"
                aria-hidden="true"
                >
              </i>
            </button>
          </div>
        }
        @if (expand && showTrailer) {
          <button
            type="button"
            class="btn btn-secondary"
            (click)="saveFilters()"
          >Save Filters</button>
        }
        @if (expand && showTrailer) {
          <div
            class="d-flex mt-2 mb-2 expanded-attribute"
            >
            @if (expand) {
              <div
                class="d-inline flex-grow-1"
              >Trailer Allowance</div>
            }
            <input
              class="form-control form-control-sm me-1 trailer-alowance-input"
              type="text"
              [(ngModel)]="trailerAllowance"
              >m
            </div>
          }
          @if (expand && showTrailer) {
            <div
              class="d-flex mb-2 expanded-attribute"
              >
              @if (expand) {
                <div
                  class="d-inline flex-grow-1"
                >Max Break Length</div>
              }
              <input
                class="form-control form-control-sm me-1 trailer-alowance-input"
                type="text"
                [(ngModel)]="maxBreakLength"
                >m
              </div>
            }
          </div>
        }

        @if (!expand && showTrailer) {
          <div
          class="flex-grow-1 text-end me-2">{{trailerAllowance}}m</div>
        }
      </div>

      <div>
        <i
          class="fa fa-cog icon-link text-secondary"
          aria-hidden="true"
          (click)="toggleExpand()"
        ></i>
        @if (showTrailer) {
          <i
            class="fa fa-filter icon-link text-secondary ms-2"
            aria-hidden="true"
            (click)="toggleFilters()"
          ></i>
        }
      </div>

    </div>

    @if (showFilters) {
      <div style="max-width: 300px;">
        <div class="form-group">
          <label for="startAfter">Start After</label>
          <select class="form-control" id="startAfter" [(ngModel)]="startAfterDate">
            @for (hour of hours; track hour) {
              <option [ngValue]="hour">{{formatDate(hour)}}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="finishBefore">Finish Before</label>
          <select class="form-control" id="finishBefore" [(ngModel)]="finishBeforeDate">
            @for (hour of hours; track hour) {
              <option [ngValue]="hour">{{formatDate(hour)}}</option>
            }
          </select>
        </div>
      </div>
    }
