
@if (itinerary.length > 0) {
  <div class="mt-2 event-list d-inline">
    <h3>Itinerary</h3>
    <itinerary
      [itinerary]="itinerary"
      [films]="selectedFilms"
    ></itinerary>
  </div>
}

@if (itineraryList.length > 0) {
  <div class="mt-2 event-list d-inline">
    <h3>Generated Itineraries</h3>
    @for (itinerary of itineraryList; track itinerary) {
      <div>
        <h4>{{getStartTime(itinerary)}}</h4>
        <itinerary
          [itinerary]="itinerary"
          [films]="selectedFilms"
        ></itinerary>
      </div>
    }
  </div>
}
