
.cinema-header{
    
    .fa-home{
        cursor: pointer;
    }

    .fa-map-marker{
        color: rgb(234, 67, 53);
    }

    .fa-building-o{
        color: black;
    }

    .heart-toggle{
        cursor: pointer;
    }
}