
<div class="cinema-header">
    <h1><i class="fa fa-home" aria-hidden="true" [routerLink]="'/cinemaList'"></i> Cineworld Planner</h1>

    <div class="d-flex">
        <h2 class="flex-grow-1">
            <span>{{cinema?.name}}</span>
            <i 
                class="fa pl-1 heart-toggle"
                [ngClass]="{
                    'fa-heart': isFavoriteCinema(cinema), 
                    'heart': isFavoriteCinema(cinema), 
                    'fa-heart-o': !isFavoriteCinema(cinema)
                }"
                aria-hidden="true"
                (click)="toggleFavorite(cinema)"
                ></i>
        </h2>

        <h2 class="mr-2">
            <a href="https://www.cineworld.co.uk{{cinema?.uri}}" target="_blank">
                <i 
                    class="fa fa-film" 
                    aria-hidden="true"
                    ></i>
            </a>
        </h2>

        <h2>
            <a href="{{cinemaUrl}}" target="_blank">
                <i 
                    class="fa fa-map-marker" 
                    aria-hidden="true"
                    ></i>
            </a>
        </h2>
    </div>
</div>