
.cinema-header{
    
    .fa-home{
        cursor: pointer;
    }

    .fa-map-marker{
        color: #FE7569;
    }

    .fa-film{
        color: black;
    }

    .heart-toggle{
        cursor: pointer;
    }
}