
<div class="cinema-list" class="m-auto container">

    <h1>Cineworld Planner</h1>

    <h2>Select Cinema</h2>

    <div *ngIf="errorMessage != null" class="alert alert-danger" role="alert">{{errorMessage}}</div>

    <div class="form-group">
        <label for="cinemaSearchInput">Search</label>
        <input 
            type="text" 
            class="form-control" 
            id="cinemaSearchInput" 
            placeholder="Cinema name..."
            [(ngModel)]="searchString"
            >
    </div>
    
    <div 
        *ngIf="geolocationAvailable"
        class="btn-group btn-group w-100 mb-2" 
        role="group" 
        aria-label="Cinema List Sort"
        >

        <button
            type="button" 
            class="btn btn-primary"
            [ngClass]="{active: alhpabeticalSearch}"
            (click)="applySort(true)"
            >Alphabetical</button>

        <button
            type="button" 
            class="btn btn-primary"
            [ngClass]="{active: !alhpabeticalSearch}"
            (click)="applySort(false)"
            >Location</button>
    </div>

    <div *ngIf="cinemaList != null">

        <button 
            *ngFor="let cinema of cinemaList" 
            type="button"
            class="btn btn-primary cinema-button btn-block"
            (click)="selectCinema(cinema)"
            >
            <span>{{cinema.name}}</span>
            <i 
                *ngIf="isFavoriteCinema(cinema)"
                class="fa fa-heart pl-1 heart" 
                aria-hidden="true"></i>
        </button>
    
    </div>

    <div 
        *ngIf="cinemaList == null" 
        class="d-flex align-items-center pt-2">
            <span class="spinner-border text-primary mr-2"></span>
            <span>Loading...</span>
    </div>
</div>

